.todoContainer {
  max-width: 650px;
  margin: 3rem auto 0;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
}

.formHeaderSection {
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.todoForm,
.editForm {
  padding: 1rem;
}

.formControl {
  display: flex;
}

.todoInput {
  min-width: 200px;
}

.toolbar {
  padding: 1rem;
  display: flex;
}

.filter {
  display: flex;
  flex-direction: column;
}

.formControl {
  display: flex;
}

.cancelEditBtn {
  margin-top: 1rem;
  color: #444;
}

.cancelEditBtn:hover {
  color: white;
}

.button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 1px solid #102f5e;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border-radius: 7px;
}

.button:hover {
  background-color: #a7c5bd;
}

.input,
.select {
  padding: 0.25rem 0.5rem;
  border-radius: 7px;
  border: 1px solid black;
  color: black;
}

.option {
  color: black;
}

.header {
  text-align: center;
  padding: 0 1rem 1rem;
}

.p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input {
  margin-right: 0.3rem;
}

.h4 {
  margin-bottom: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.filterSelect {
  flex: 1;
}

.todoButton {
  margin-left: 0.4rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
